* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start of navbar */
nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  text-transform: uppercase;
}

#menu {
  display: flex;
  gap: 15px;
  font-size: 20px;
  text-transform: capitalize;
}

#menu li {
  list-style: none;
}
/* end of navbar */

@media (max-width: 640px) {
  body {
    background-color: pink;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(166, 168, 168, 0.6);
    height: 100vh;
    width: 65%;
    padding-top: 4em;
    position: fixed;
    right: -30px;
    top: 0;
    z-index: 100;
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-color: gray;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: orange;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: purple;
  }
}
