* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

/* Start of navbar */
.nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#logo {
  text-transform: uppercase;
}
.about {
  margin-top: -20%;
  padding: 6px;
  font-size: 30px;
  width: 78%;
}

.menu {
  display: flex;
  gap: 15px;
  font-size: 20px;
  text-transform: capitalize;
  background-color: rgba(166, 168, 168, 0.6);
  height: 100vh;
  width: 70%;
  border-top-left-radius: 80px;
  padding-top: 4em;
  padding-left: 1em;
  position: fixed;
  right: -30px;
  top: 0;
  z-index: 100;
  display: none;
}

.menu.show {
  display: block;
}

#toggle-btn {
  position: relative;
  z-index: 200;
}

.menu li {
  padding: 15px;
  list-style: none;
}

/* end of navbar */

@media (min-width: 641px) {
  body {
    background-color: green;
  }
}

@media (min-width: 768px) {
  body {
    background-color: gray;
  }

  .about {
    display: none;
  }

  .menu {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    padding-top: 5px;
    padding-left: 0px;
    width: 50%;
    height: 60%;
    border-top-left-radius: 0px;
    position: relative;
    right: 40px;
  }

  #toggle-btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: orange;
  }
  .menu {
    width: 40%;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: purple;
  }

  .menu {
    width: 40%;
  }
}

/* button {
  background: linear-gradient(135deg, #4da3ff, #007bff);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

button:hover {
  background: linear-gradient(135deg, #66b3ff, #3399ff);
  box-shadow: 0 6px 14px rgba(0, 123, 255, 0.3);
  transform: translateY(-2px);
} */

/* .highlight {
  background-color: yellow;
} */

/* .menu {
  display: none;
  background-color: lightgray;
  width: 50%;
  padding: 10px;
}

.menu.show {
  display: block;
} */
